<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>Hi {{name}},</p>

    <p>Nice to meet you!  My name is {{tutor_name}} and I was assigned to be your tutor. I am a software developer and a computer science student, so I understand the challenges you’re facing in the boot camp very well!</p>
    <p>I just sent you an invite to our tutoring Slack channel, <u>Tutors & Students</u>. This is where we will be communicating through Direct Message (DM).  Let me know if you don't see the invite or have any issues getting signed up.  Please send me a direct message once you create your account there. You can DM me on that Slack by using my Slack name @Jaired Jawed. Make sure to have that Slack available on your mobile phone so that you can message me if there are problems with wifi, etc.</p>

    <p><strong><u>Maximum tutorial sessions per week - our week is Monday - Sunday.</u></strong></p>
    <ul>
      <li><strong>Part-time (6 month boot camp) students are entitled to 1 session per week.</strong></li>
      <li><strong>Full-time (3 month boot camp) students are entitled to 2 sessions per week.</strong></li>
    </ul>

    <p>Please schedule your session <a href="{{calendly_link}}">here</a>.</p>

    <p style="background-color: yellow"><strong><u>On the Calendly page, be sure you have the correct time zone selected in the section labeled "Times are in"</u></strong></p>
    <p><strong>If our availability doesn’t sync, let me know and I'll see if we can figure something out.</strong></p>

    <p>Each session takes place over Zoom.us (video chat/screen sharing) and lasts about 50 minutes. I'll email you the Zoom.us link the day before our scheduled time. (If you have not used zoom before please join the meeting at least 15 minutes early as it may have you download and install some software.)</p>
    <p>All I need from you:</p>
    <ul>
      <li>Be on Slack 5 minutes before your time slot.</li>
      <li>Make sure your computer/mic/internet connection are working.</li>
      <li>Make sure your workspace is quiet and free from interruptions.</li>
      <li>At the end of the session, I will provide you with a link to a 2 minute evaluation form that you are required to complete.</li>
    </ul>

    <p>Slack or email me with any questions. I look forward to our first meeting!</p>
    <p>Sincerely,</p>
    <p>{{tutor_name}}</p>
  </body>
</html>
