<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>Hi {{name}}!</p>

    <p>Thank you for scheduling your session with me. I am looking forward to our session on <strong style="color: red">{{time}}</strong>.</p>

    <p>If something comes up and the scheduled time will not work, <strong>let me know a minimum of 6 hours before the appointment time</strong> and we’ll figure something out.</p>

    <p>This session will take place here on this <a href="{{zoom_link}}">Zoom meeting link</a>. The Zoom password is {{zoom_password}}.</p>
    <p>(If you have not used zoom before please join the meeting at least 15 minutes early because it may have you download and install some software.)</p>

    <p>Again, all I need from you:</p>
    <ul>
      <li>Be on <u>Tutors & Students Slack</u> 5 minutes before your time slot.</li>
      <li>Make sure your computer/mic/internet connection are working.</li>
      <li>Make sure your workspace is quiet and free from interruptions.</li>
      <li>At the end of the session, I will provide you with a link to a 2 minute evaluation form that you are required to complete.</li>
    </ul>

    <p>Slack or email me with any questions. I’m looking forward to our meeting!</p>

    <p>Sincerely,</p>
    <p>{{tutor_name}}</p>
  </body>
</html>
