<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>Hi {{name}},</p>

    <p>I hope you had a great week! I have attached a link below to schedule another tutoring session if you wish. <strong>If you are already scheduled, please ignore this email.</strong></p>
    <p>To schedule a tutoring session, go <a href="{{calendly_link}}">here</a>.</p>

    <p style="background-color: yellow;"><strong><u>On the Calendly page, be sure you have the correct time zone selected in the section labeled "Times are in"</u></strong></p>
    <p><strong>If our availability doesn’t sync, let me know and I'll see if we can figure something out.</strong></p>

    <p><u>Maximum tutorial sessions per week - our week is Monday - Sunday.</u></p>
    <ul>
      <li>Part-time (6 month boot camp) students are entitled to 1 session per week.</li>
      <li>Full-time (3 month boot camp) students are entitled to 2 sessions per week.</li>
    </ul>

    <p>If you have any questions or none of the times available work for you please let me know and I would be happy to help.</p>
    <p>If you would like to schedule regular, recurring sessions at the same day/time each week, just let me know by REPLY ALL and we can work it out.  This is particularly useful if you have a strict schedule so you won't have to compete for time on my calendar.</p>

    <p>Sincerely,</p>
    <p>{{tutor_name}}</p>
  </body>
</html>
